body {
    text-align : center;
    margin : 0;
}
#page-heading {
    text-align : center;
    margin-top : 25px;
    color : grey;
}
#contact-list-container {
    padding : 0;
    list-style : name;
}
.conatct {
    padding : 3px 10 px;
    border : 1 px solid white;
    background-color : #6f92f9;
    box-shadow : 1px 1px 1px 1px lightgrey;
    color : white;
    display : flex;
}
.contact.delete-button {
    width : 10%;
    padding : 3px;
    text-align : center;
    margin-top : 5px; 
}
.contact.delete-button a {
    color : white;
    background-color : red;
}